{
  "rules":{
     "quotes":[
        0,
        "double",
        "avoid-escape"
     ],
     "linebreak-style":[
        2,
        "unix"
     ],
     "semi":[
        2,
        "always"
     ],
     "no-multi-str":0,
     "no-multi-spaces":0,
     "key-spacing":0
  },
  "env":{
     "es6":true,
     "node":true,
     "browser":false
  },
  "extends":"eslint:recommended"
}